                <div class="col-lg-2 col-md-6">
                    <div class="panel panel-<%= instrument_details[1] %>">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <span id="<%= instrument_details[0] %>_icon">
                                    <i class="fa <%= instrument_details[2] %> fa-4x"></i>
                                    </span>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" id="<%= instrument_details[0] %>">--</div>
                                    <div class="instrument_desc"><%= instrument_details[3] %></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
